* {
    font-family: 'Open Sans', sans-serif;
}
body,header {
    padding: 1%;
    /* font-family: Arial, Helvetica, sans-serif; */
}

img {
    width: 40%;
    border-radius: 50%;
    border-width: 3px;
    border-style: solid;
    border-color:blue;
}

ul {
    list-style-type: circle;
}

ol {
    list-style-type: square;
}

li {
    font-style: oblique;
}

h4 {
    text-decoration: underline;
}

hr {
    height: 2px;
    background-color: lightskyblue;
    /* box-shadow: 2px -3px 5px #888; */
}
.text-center {
    font-size: 1rem;
    text-align: center;
}

.footer {
    height: 60px;
    background-color: lightslategrey;
    box-shadow: 5px 5px 5px #888;
    text-align: center;
    margin: auto;
}

.formulario {
    padding: 5px;
    line-height: 60px;
}

.grid-2 {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: 30% 70%;
    grid-template-rows: 30% 70%;
}

.columns-2 {
    column-count: 2;
    text-align: center;
}