   
h1 {
    color: white;
    margin: 0 auto;
    align-self: center;
}

.container {
    margin: 25px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.cuadrado {
    width: 1200px; 
    height: 200px; 
    border: 3px solid #555;
    display: flex;
    justify-content: space-between;
}

.cuadrado-rojo {
    width:  200px; 
    height: 200px; 
    background-color: red;
    display: flex;
}

.cuadrado-azul {
    width: 200px; 
    height: 200px; 
    background-color: blue;
    display: flex;
}

.cuadrado-verde {
    width: 200px; 
    height: 200px; 
    background-color: green;
    display: flex;
}