body {
    font-family: sans-serif;
    font-size: 16px;
    line-height: 20px;
}

header {
    background-color: #2e64a1;
    padding: 1em 0;
    margin: 1;
}

header h1 {
    color: white;
    font-size: 2.5em;
    font-style: italic;
    font-weight: 100;
    display: inline-block;
    position: relative;
    bottom: 30px;
    /* margin-left: 50px; */
}

nav {
    background-color: #6da9ed;
    margin-bottom: 2em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

}

nav ul li {
    display: inline-block;
    width: 19%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 0.2em 0.4em;
}

nav ul li a:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

nav ul li a:active {
    background-color: #4c76a5;
}

footer {
    background-color: #ccc;
    clear: both;
    color: #333;
    padding: 3em 0;
    margin-top: 2em;
    text-align: center;
}

.holder {
    max-width: 960px;
    margin: 0 auto;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

.container {
    display: flex;
    justify-content: space-around;
    padding: 2px 16px;
}