.container {
    margin: 25px;
    padding: 5px;
    text-align: center;
}

.cuadrado {
    width: 600px; 
    height: 600px; 
    border: 3px solid #555;
}

.cuadrado-rojo {
    width:  200px; 
    height: 200px; 
    background-color: red;
}

.cuadrado-azul {
    width: 200px; 
    height: 200px; 
    background-color: blue;
}

.cuadrado-verde {
    width: 200px; 
    height: 200px; 
    background-color: green;
    margin: 0 auto;
}